[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/marvim"]
	path = vim/bundle/marvim
	url = git://github.com/vim-scripts/marvim.git
[submodule "vim/bundle/perl-mauke"]
	path = vim/bundle/perl-mauke
	url = git://github.com/vim-scripts/perl-mauke.vim.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/Vim-R-plugin"]
	path = vim/bundle/Vim-R-plugin
	url = git://github.com/vim-scripts/Vim-R-plugin.git
[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = git://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/surround.vim"]
	path = vim/bundle/surround.vim
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "vim/bundle/python-syntax-folding"]
	path = vim/bundle/python-syntax-folding
	url = git://github.com/vim-scripts/Python-Syntax-Folding.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-extradite"]
	path = vim/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-git"]
    path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim/bundle/vim-orgmode"]
	path = vim/bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-sexp"]
	path = vim/bundle/vim-sexp
	url = git://github.com/guns/vim-sexp.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-sexp-mappings-for-regular-people"]
	path = vim/bundle/vim-sexp-mappings-for-regular-people
	url = git://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown
[submodule "vim/bundle/Wombat"]
	path = vim/bundle/Wombat
	url = git://github.com/vim-scripts/Wombat.git
[submodule "vim/bundle/wombat256"]
	path = vim/bundle/wombat256
	url = git://github.com/vim-scripts/wombat256.vim
[submodule "vim/bundle/timl"]
	path = vim/bundle/timl
	url = git://github.com/tpope/timl.git
